.main_container {
    background-color: #1f1a24;
}

.margin_container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.container_logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.lada_text_head {
    color: #e0f7fa;
    font-size: 36px;
    font-weight: 200;
}

.logo_container {
    gap: 20px;
}

.lada_logo {
    max-width: 100px;
}

.lada_text_image {
    color: white;
    margin-top: 16px;
    margin-left: 16px;
    font-size: 48px;
    font-weight: 500;
}

.text_color {
    color: #e0f7fa;
}

.card_padding {
    padding: 24px;
}

.gallery_padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (max-width: 765px) {
    .lada_text_image {
        max-width: 50%;
        margin-top: 4px;
        margin-left: 4px;
        font-size: 24px;
    }

    .lada_text_head {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .lada_text_image {
        max-width: 50%;
        margin-top: 4px;
        margin-left: 4px;
        font-size: 16px;
    }

    .lada_text_head {
        display: none;
    }

    .container_logo {
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 250px) {
    .lada_text_image {
        display: none;

    }


}